*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(165, 76, 129),
    rgb(60, 16, 83)
  );
  margin: 15px;
}
/* semi-global changes */

/* Header */
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #457d846f;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: -40px;
  border-bottom-left-radius: 40px;
  /* margin-top: 10px; */
  margin: 10px 10px 0 10px;
  padding: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid white;
  margin-left: 8px;
}

.navLinks a {
  font-size: 29pt;
  margin: 10px;
  text-decoration: none;
  transition: 1s;
}
.navLinks a:hover {
  color: peachpuff;
  /* background-color: blueviolet; */
  /* border-radius: 20px; */
  /* padding: 10px; */
}

/* Header end */

/* Main start */

.bigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 10px;
  padding: 30px 0;
  background-color: rgba(165, 76, 129, 0.501);
  border-top-left-radius: 40px;
  border-top-right-radius: -40px;
  border-bottom-right-radius: -40px;
  border-bottom-left-radius: 40px;
}

.mainImage {
  width: 500px;
}

.mainParagraph {
  text-align: right;
  font-size: larger;
}
.intro {
  width: 400px;
}

.cv {
  text-decoration: none;
}
/* main end */

/* body start */
.me {
}
.aboutMeBanner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #457d846f;
  border-top-left-radius: 40px;
  border-top-right-radius: -40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: -40px;
  padding: 0 10px;
  margin: 0 10px;
  /* margin-top: 30px; */
}
.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.aboutMeSection {
  font-size: 29pt;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid white;
  margin-left: 8px;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 10px 0px 10px;
  padding-top: 20px;
  background-color: rgba(59, 16, 83, 0.446);
  border-top-left-radius: -40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: -40px;
}
.myDescription {
  width: 30rem;
  font-size: larger;
}
.myPic {
  max-width: 40%;
  /* width: 40rem; */
}

/* projects */
/* banner */
.projectsBanner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #457d846f;
  border-top-left-radius: -40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 0 10px;
  margin: 0 10px;
}
.projectsSection {
  font-size: 29pt;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid white;
  margin-left: 8px;
}
/* Banner end */

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 10px;
}

.projectImage {
  max-width: 40%;
  border-radius: 40px;
}

.projectInfo {
  max-width: 25rem;
  text-align: right;
  font-size: larger;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ffffff;
  background-color: #1f2973;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2rem 1rem;
  border-radius: 40px;
  max-width: 70%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.8s;
}

.modal-content p {
  max-width: 30%;
}
.modalImage {
  max-width: 30%;
  width: 100%;
  border-radius: 40px;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #c8c8c8;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* making responsive put at very bottom */
@media screen and (max-width: 640px) {
  /* header start */
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10px;
  }
  .navLinks {
    flex-direction: column;
    border: none;
  }
  .logo {
    max-width: 100%;
    height: 50px;
    width: 50px;
  }
  /* header end */

  /* main top */
  .mainImage {
    width: 300px;
  }
  .mainParagraph {
    text-align: center;
  }

  .bannerProjects {
    margin: 0 50px;
    margin-top: 20px;
  }
  .myDescription {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .myPic {
    max-width: 80%;
  }

  .projectInfo {
    text-align: center;
  }

  .modal-content {
    flex-direction: column;
  }
  .modal-content p {
    max-width: 90%;
  }
  .projectImage {
    width: 50%;
    border-radius: 20px;
  }
}

/* CV BUTTON */
/*   display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: rgb(147, 147, 147);
  border: none;
  box-shadow: 0 5px #555555;
}

.submit:hover {
  background-color: #f6ddff;
}

.submit:active {
  background-color: #f6ddff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 */
