*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(165, 76, 129),
    rgb(60, 16, 83)
  );
  padding: 0 20px;
}
/* semi-global changes */

/* Header */

.nav {
  display: flex;

  justify-content: space-between;
  background-color: #457d846f;
  border-top-left-radius: -40px;
  border-top-right-radius: -40px;
  border-bottom-right-radius: -40px;
  border-bottom-left-radius: 40px;
  /* margin-top: 10px; */
  margin-right: 10px;
  padding: 0px 10px 0px 10px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 8px;
}

.navLinks a {
  font-size: 29pt;
  margin: 10px 20px;
  text-decoration: none;
  transition: 1s;
}
.navLinks a:hover {
  color: peachpuff;
}

/* Header end */

/* Main start */

.bigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 10px;
  padding: 30px 0;
  background-color: rgba(165, 76, 129, 0.501);
  border-top-left-radius: 40px;
  border-top-right-radius: -40px;
  border-bottom-right-radius: -40px;
  border-bottom-left-radius: 40px;
}

.mainImage {
  width: 500px;
}

.mainParagraph {
  text-align: right;
  font-size: x-large;
}
.intro {
  width: 400px;
}

.cv {
  text-decoration: none;
}
/* main end */

/* body start */
.me {
}
.aboutMeBanner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #457d846f;
  border-top-left-radius: 40px;
  border-top-right-radius: -40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: -40px;
  padding: 0 10px;
  margin: 0 10px;
  /* margin-top: 30px; */
}
.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.aboutMeSection {
  font-size: 29pt;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid white;
  margin-left: 8px;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 10px 0px 10px;
  padding-top: 20px;
  background-color: rgba(59, 16, 83, 0.446);
  border-top-left-radius: -40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: -40px;
}
.myDescription {
  width: 30rem;
  font-size: x-large;
}
.myPic {
  max-width: 40%;
  /* width: 40rem; */
}

/* projects */
/* banner */
.projectsBanner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #457d846f;
  border-top-left-radius: -40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 0 10px;
  margin: 0 10px;
}
.projectsSection {
  font-size: 29pt;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid white;
  margin-left: 8px;
}
/* Banner end */
/* PROJECTS */
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
  font-size: large;
  padding-right: 0;
  margin-right: 0;
}

.projectImage {
  border-radius: 40px;
  margin: 10px;
}

.project .info {
  max-width: 40rem;
  text-align: right;
  font-size: larger;
  justify-content: flex-end;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
  background-color: #05148a;
  margin: 15% auto;
  max-width: 85vw;
  max-height: 70vh;
  padding: 3rem 2rem;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.8s;
}

.moreInfoTarget {
  font-size: x-large;
}
.modalImage {
  max-width: 70%;
  height: auto;
  border-radius: 40px;
}

span {
  display: none;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #c8c8c8;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #457d846f;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: -40px;
  border-bottom-left-radius: -40px;
  padding: 0 10px;
  margin: 10px 10px 0px 10px;
}
.contact {
  font-size: 29pt;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid white;
  margin-left: 8px;
}
.contactLinks img {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-decoration: none;
}

/* making responsive put at very bottom */

@media screen and (max-width: 770px) {
  /* header start */
  .nav {
    /* flex-direction: column; */
    justify-content: space-around;
    margin: 0 10px;
  }
  .navLinks {
    flex-direction: column;
    border: none;
  }
  .logo {
    max-width: 100%;
    height: 50px;
    width: 50px;
  }
  /* header end */

  /* main top */
  .mainImage {
    width: 300px;
  }
  .mainParagraph {
    text-align: center;
  }
  .intro {
    width: 80vw;
  }
  .bannerProjects {
    margin: 0 50px;
    margin-top: 20px;
  }
  .myDescription {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .myPic {
    max-width: 80%;
  }

  .projectInfo {
    max-width: 100%;
    text-align: center;
    font-size: larger;
    width: 40rem;
  }

  .modalContent {
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
  }

  .modalContent p {
    max-width: 90%;
  }
  .projectImage {
    max-width: 20rem;
    height: auto;
    border-radius: 20px;
  }
  .logo {
    display: none;
  }
  .footer .contact {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
  }
}
@media screen and (max-width: 400px) {
  .moreInfoTarget {
    font-size: larger;
  }
}
